# GLOBALS
{
    email {$LETSENCRYPT_EMAIL_ADDRESS}
    acme_ca {$LETSENCRYPT_ENDPOINT}
}

# DJANGO
{$SITE_DOMAIN} {
    tls {$TLS_SOURCE}

    # DJANGO
    reverse_proxy http://django:8000

    log {
        level ERROR # switch to DEBUG for more verbose logging
    }
}
