# CADDY (WEB SERVER & HTTPS)
# NB: must be localhost to test Google login
VITE_SITE_DOMAIN="localhost"
LETSENCRYPT_EMAIL_ADDRESS="letsencrypt@example.com"
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # LetsEncrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory) so as not to hit rate limits.
TLS_SOURCE="internal" # or use "acme" for LetsEncrypt

# POSTGRES SETUP
POSTGRES_DB="dgcapp"
POSTGRES_PASSWORD="password"
POSTGRES_USER="dgcapp"
POSTGRES_PORT=5432
POSTGRES_HOST="postgres"

DJANGO_SECRET_KEY="django-insecure-&nfk@j#t73t2j767&k3f#btzse0=0r9d)1#x38dp@fe&5$1vg8"
DEBUG="True"

SESSION_JWT_AUDIENCE="uk.ac.rcpch.digital_growth_charts_app"
SESSION_JWT_ISSUER="uk.ac.rcpch.digital_growth_charts_app_backend"
SESSION_JWT_EXPIRY_SECONDS=3600  # 1 hour

VITE_MICROSOFT_OAUTH_SERVER=""
VITE_MICROSOFT_OAUTH_CLIENT_ID=""
MICROSOFT_OAUTH_ISSUER=""

VITE_GOOGLE_OAUTH_SERVER=""
VITE_GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_ISSUER=""