# CADDY (WEB SERVER & HTTPS)
SITE_DOMAIN="dgc-app-backend.localhost" # this should also be in DJANGO_ALLOWED_HOSTS and DJANGO_CSRF_TRUSTED_ORIGINS
LETSENCRYPT_EMAIL_ADDRESS="letsencrypt@example.com"
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # LetsEncrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory) so as not to hit rate limits.
TLS_SOURCE="internal" # or use "acme" for LetsEncrypt

# POSTGRES SETUP
POSTGRES_DB="dgcapp"
POSTGRES_PASSWORD="password"
POSTGRES_USER="dgcapp"
POSTGRES_PORT=5432
POSTGRES_HOST="postgres"

# DEMO SPA OAUTH
VITE_DEMO_OAUTH_SERVER="https://dgc-app-backend.localhost/test-oidc" # for the test local provider
VITE_DEMO_OAUTH_SCOPE="openid profile email"
VITE_DEMO_OAUTH_CLIENT_ID="client_id"
VITE_DEMO_OAUTH_CLIENT_SECRET="client_secret"
DEMO_OAUTH_ISSUER="https://dgc-app-backend.localhost/test-oidc" # for the test local provider